@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;800;900&display=swap');

$roxo : #7551d9;
$roxo2 : #5e3abf;
$azulmarinho : #181f4d;
$azul : #62B0D3;
$azullogo : #41ecf9;
$laranja : #e3a241;
$cinza : #6f7577;
$vermelho : #E03859;
$verde : #24FF8F;
$branco : #ffffff;
$cinzaclaro : #f1f1f1;
$verdemeio :#3cdfaa;


html {
  font-family: 'Blinker', sans-serif;
}

body {
  background-color: $cinzaclaro;
}